html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Scrollni o‘chirib tashlaydi */
  }
  
  .app {
    width: 100%;
    max-width: 600px; /* Ko‘pchilik qurilmalarda yaxshi ko‘rinish uchun */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }
  